<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Tasks')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="layout :: nav"></nav>

<div class="container main-site-container">
    <h1>Tasks</h1>

    <div class="list-head-actions">
        <a class="btn btn-success" th:href="@{/tasks/new}" role="button">Create new</a>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Created At</th>
            <th scope="col">Closed At</th>
            <th scope="col">Assigned To</th>
            <th scope="col">Project</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${tasks}" th:object="${task}">
            <th scope="row" th:text="${task.id}"></th>
            <td th:text="*{{title}}">Mark</td>
            <td th:text="*{{description}}">Otto</td>
            <td th:text="*{{createdAt}}">Otto</td>
            <td th:text="*{{closedAt}}">Otto</td>
            <td th:text="*{assignedTo != null} ? *{assignedTo.fullName} : ''">Otto</td>
            <td th:text="*{project != null} ? *{project.name} : ''">Otto</td>
            <td class="actions-cell">
                <a class="btn btn-outline-dark btn-sm" th:href="|/tasks/${task.id}/edit|" role="button">Edit</a>
                <a class="btn btn-outline-danger btn-sm" th:href="|/tasks/${task.id}/delete|" role="button">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<th:block th:replace="layout :: footer">

</th:block>
</body>
</html>