<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Users')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav th:replace="layout :: nav"></nav>

    <div class="container main-site-container">
        <h1>Users</h1>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Username</th>
                <th scope="col">Full Name</th>
                <th scope="col">Date Of Birth</th>
                <th scope="col">Role</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}" th:classappend="${@templateHelperImpl.isAdmin(user) ? 'table-info': ''}">
                <th scope="row" th:text="${user.id}"></th>
                <td th:text="${user.username}">Mark</td>
                <td th:text="${user.fullName}">Mark</td>
                <td th:text="${{user.dateOfBirth}}">Mark</td>
                <td th:text="${@templateHelperImpl.isAdmin(user) ? 'Admin' : 'User'}">Otto</td>
                <td class="actions-cell">
                    <a class="btn btn-outline-dark btn-sm" th:href="|/users/${user.username}/changeRole|" role="button">Change role</a>
                    <a class="btn btn-outline-danger btn-sm" th:href="|/users/${user.username}/delete|" role="button">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <th:block th:replace="layout :: footer">

    </th:block>
</body>
</html>