<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head(${@templateHelperImpl.username})">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="layout :: nav"></nav>

<div class="container main-site-container">

    <form th:object="${user}" method="post" th:action="@{/account}">
        <input
                type="hidden"
                th:name="${_csrf.parameterName}"
                th:value="${_csrf.token}"/>
        <h2 class="form-signin-heading">Your account</h2>
        <div class="form-group">
            <div class="row">
                <label for="username" class="col-sm-2 col-form-label">Username</label>
                <div class="col-sm-10">
                    <input th:field="*{username}" type="text" id="username" name="username" class="form-control"
                           placeholder="Username" required
                           autofocus>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 d-none d-sm-block"></div>
                <div class="col-sm-10 invalid-feedback" th:if="${#fields.hasErrors('username')}"
                     th:each="error : ${#fields.errors('username')}"
                     th:text="${error}">
                </div>
            </div>
        </div>
        <!--/* Field input declaration. Copy and paste for each field.
       Do not forget to change th:with="fieldName=${'Displayed field name'},readonly=${true OR false}" and th:field="*{entityFieldName}" */-->
        <div class="form-group row" th:with="fieldName=${'Full Name'},readonly=${false}">
            <label th:for="${'input' + @templateHelperImpl.removeSpaces(fieldName)}" class="col-sm-2 col-form-label" th:text="${fieldName}">Created At</label>
            <div class="col-sm-10">
                <input type="text" th:field="*{fullName}" th:readonly="${readonly}" class="form-control" th:id="${'input' + @templateHelperImpl.removeSpaces(fieldName)}" th:placeholder="${fieldName}">
            </div>
        </div>
        <!--/* Field input declaration. Copy and paste for each field.
               Do not forget to change th:with="fieldName=${'Displayed field name'},readonly=${true OR false}" and th:field="*{entityFieldName}" */-->
        <div class="form-group row" th:with="fieldName=${'Date Of Birth'},readonly=${false}">
            <label th:for="${'input' + @templateHelperImpl.removeSpaces(fieldName)}" class="col-sm-2 col-form-label" th:text="${fieldName}">Created At</label>
            <div class="col-sm-10">
                <input type="text" th:field="*{dateOfBirth}" th:readonly="${readonly}" class="form-control" th:id="${'input' + @templateHelperImpl.removeSpaces(fieldName)}" th:placeholder="${fieldName}">
            </div>
        </div>
        <div class="form-group" th:text="#{Account.changePassword.hintText}">
        </div>
        <div class="form-group">
            <div class="row">
                <label for="password" class="col-sm-2 col-form-label">Change Password</label>
                <div class="col-sm-10">
                    <input th:field="*{password}" type="password" id="password" name="password" class="form-control"
                           placeholder="Password">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 d-none d-sm-block"></div>
                <div class="col-sm-10 invalid-feedback" th:if="${#fields.hasErrors('password')}"
                     th:each="error : ${#fields.errors('password')}"
                     th:text="${error}">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <label for="password2" class="col-sm-2 col-form-label">Repeat Password</label>
                <div class="col-sm-10">
                    <input th:field="*{passwordConfirm}" type="password" id="password2" name="password2" class="form-control"
                           placeholder="Password">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 d-none d-sm-block"></div>
                <div class="col-sm-10 invalid-feedback" th:if="${#fields.hasErrors('passwordConfirm')}"
                     th:each="error : ${#fields.errors('passwordConfirm')}"
                     th:text="${error}">
            </div>
            </div>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
    </form>
</div>

<th:block th:replace="layout :: footer">

</th:block>
</body>
</html>