<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Roles')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav th:replace="layout :: nav"></nav>

    <div class="container main-site-container">
        <h1>Roles!</h1>
        <div>
            Your roles:
            <ol>
                <li th:each="role : ${roles}" th:text="${role.name}"></li>
            </ol>
        </div>
    </div>

    <th:block th:replace="layout :: footer">

    </th:block>
</body>
</html>