<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Projects')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="layout :: nav"></nav>

<div class="container main-site-container">
    <h1>Projects</h1>

    <div class="list-head-actions">
        <a class="btn btn-success" th:href="@{/projects/new}" role="button">Create new</a>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Assigned To</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="project : ${projects}" th:object="${project}">
            <th scope="row" th:text="${project.id}"></th>
            <td th:text="*{{name}}">Mark</td>
            <td th:text="*{{startDate}}">Otto</td>
            <td th:text="*{{endDate}}">Otto</td>
            <td th:text="*{assignedTo != null} ? *{assignedTo.fullName} : ''">Otto</td>
            <td class="actions-cell">
                <a class="btn btn-outline-success btn-sm" th:href="|/projects/${project.id}/tasks|" role="button">Show tasks</a>
                <a class="btn btn-outline-dark btn-sm" th:href="|/projects/${project.id}/edit|" role="button">Edit</a>
                <a class="btn btn-outline-danger btn-sm" th:href="|/projects/${project.id}/delete|" role="button">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<th:block th:replace="layout :: footer">

</th:block>
</body>
</html>